<div class="page-header clearfix">
  <h1><%- firstName+" "+lastName %></h1>
</div>
<div class="row contact">
<div class="btn-group btn-group-sm pull-right">
  <a href="#contact/<%- id %>/edit" class="btn btn-warning">Edit</a>
  <a href="#" class="btn delete btn-danger">Delete</a>
</div>
<dl class="dl-horizontal">
  <dt>Position/job:</dt>
  <dd><%- job||"-" %></dd>
  <dt>Company:</dt>
  <dd><%- company||"-" %></dd>
  <dt>Address:</dt>
  <dd><address><span><%- address %></span>
      <span><%- city + " " + zip + " " + state %></span>
      <span><%- country %></span></address></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Created on:</dt>
  <dd><%- moment(created.date).format("llll") %></dd>
  <dt>Last edited:</dt>
  <dd><%- edited ? moment(edited.date).format("llll") : "-" %></dd>
</dl>
</div>